@import 'utils'

$text-font:  'Raleway'
$title-font: 'Italiana'

@import "https://fonts.googleapis.com/css?family=Italiana:400|Raleway:300,500"

$white: #FEFEFE
$green: #3DB74A
$green-light: #52d360
$gray: #9A9A9A
$gray-light: #DCDCDC

*
  box-sizing: border-box
  font-size: 1em
  font-family: 'Helvetica Neue', $text-font, 'Helvetica', sans-serif
  font-weight: 100
