@import 'utils'

$text-font:  'Source Sans Pro'
@import "https://fonts.googleapis.com/css?family=Source Sans Pro:300,500"

$white: #FEFEFE
$white-dirt: #F9F9F9
$gray: #666666
$gray-light: #f2f2f2
$velvet-red: #cc0000
$black: #1e1e1e

*
  box-sizing: border-box
  font-family: $text-font, 'Helvetica Neue', sans-serif

body
  +reset
  font-size: 1em
  background-color: $black
  color: $white

header
  +grid(14)
  +flex(row, wrap, center, center)
  height: 44px //sometimes grid is not enough
  background-color: $black
  color: $white

  nav
    +grid(13)

.brand
  font-size: 1.4em
  color: transparent
  text-shadow: 0 0 0 $white

a
  text-decoration: none

footer
  +grid(14,1,hard)
  +flex(row, wrap, center, center)
  padding: 1.5em
  margin-top: 2em
  text-align: center
  text-transform: lowercase
  background-color: $gray-light
  color: $gray
  cursor: default

  span, a
    margin: 0 0.2em

  .solid-emoji
    padding-top: 0.2em
    +emoji($gray)

  &:hover
    .solid-emoji
      +emoji($velvet-red)

@keyframes fadein
  from
    opacity: 0
  to
    opacity: 1

=fade-in($time: 0.2s, $easing: ease)
  animation: fadein $time $easing

.content
  color: $black
  background-color: $white
  +fade-in

.repository
  +grid(14)
  +flex(row, wrap, flex-start, baseline)

.header
  text-align: right
  +offset(0.5)
  +grid(2.5)

.milestone
  +grid(5)
  padding: 0 1em
  h3
    text-align: right

.issue
  border: 1px solid $gray-light
  padding: 0.4em
  margin: 0.25em 0

  cursor: pointer

  &:hover
    background-color: $white-dirt

.label
  border-radius: 2px
  padding: 0.1em 0.3em
  color: $white
  display: inline-block
  margin: 0.2em
  font-size: 0.9em

@keyframes flash
  from, 50%, to
    opacity: 1
  25%, 75%
    opacity: 0

.loading
  +grid(14)
  +flex(row, nowrap, center, center)
  +center(both)

  font-size: 4em

  .solid-emoji
    +emoji($gray)

    animation: flash 2s ease infinite

    &:hover
      +emoji($white)
