@import 'utils'

$text-font:  'Source Sans Pro'

@import "https://fonts.googleapis.com/css?family=Source Sans Pro:300,500"

$white: #FEFEFE
$green: #3DB74A
$green-light: #52d360
$gray: #9A9A9A
$gray-light: #DCDCDC

*
  box-sizing: border-box
  font-size: 1em
  font-family: $text-font, 'Helvetica Neue', sans-serif
  font-weight: 100

.repository
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-items: baseline
